body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

img {
    width: 80px;
    margin-bottom: 10px;
}

input[type="button"] {
    width: 110px;
    padding: 5px;
    text-align: center;
    margin: 3px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    transition-duration: 200ms;
    cursor: pointer;
}

input[type="button"]:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 116, 190);
}

input[type="button"]:active {
    transform: scale(0.95, 0.95);
}

input[type="button"].loading {
    border: none;
    pointer-events: none;
    background-image:
        linear-gradient(90deg, rgb(70, 70, 70) 70%, transparent 70%),
        linear-gradient(90deg, rgb(70, 70, 70) 70%, transparent 70%),
        linear-gradient(0deg, rgb(70, 70, 70) 70%, transparent 70%),
        linear-gradient(0deg, rgb(70, 70, 70) 70%, transparent 70%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
    animation: loading 250ms infinite linear;
}

@keyframes loading {
    from { background-position: left top, right bottom, left bottom, right top; }
    to { background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px; }
}